/******************************************************************************
* Defines default styles for site pages.                                      *
******************************************************************************/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 100%;
}

pre {
  
  font-size: 80%;
}

td, th {
  
  font-size: 1.5em;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

ul {
  list-style-type: square;
}

#demoBox {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  width: 24em;
}

.footer {
  margin-bottom: 0px;
  text-align: center;
}

/* Boxed table styles */

table.boxed {
  border-spacing: 2px;
  empty-cells: hide;
}

td.boxed, th.boxed, th.boxedHeader {
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

th.boxed {
  background-color: #c0c0c0;
}

th.boxedHeader {
  background-color: #808080;
  color: #ffffff;
}


/******************************************************************************
* Styles for page and game areas.                                             *
******************************************************************************/

.count {
  display: inline-block;
  width: 30px;
}

.infoDiv {
    margin-left: 35px;
    color: yellow;
}
#header
{
    color: black;
    margin-bottom: 1ex;
    padding: 4px 1em;
}

#header h2
{
    margin: 0px;
    padding: 0px;
}

.playingField span, #credits, #default {
    display: inline-block;
}

.playingField {
    color: #000000;
    margin-bottom: 8px;
    padding: 4px;
    text-align: left;
}

.activeField {
    background-color: #60c060;
}

.cardArea {
    font-size: 20pt;
    height: 6em;
    position: relative;
}

.textBox {
    background-color: #FFFFC0;
    color: black;
    text-shadow: none;
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: .5em;
    padding: .1em;
    text-align: center;
    width: 7em;
    border-radius: .3125em
}


#controlsArea {
    margin-top: 0.5em;
    text-align: left;
}

input.button {
    margin-top: .25em;
    width: 8em;
}

/******************************************************************************
* Playing card styles.                                                        *
******************************************************************************/

.card {
    background-image: url("../img/cardback.gif");
    border-color: #808080 #000000 #000000 #808080;
    border-width: 1px;
    border-style: solid;
    font-size: 20pt;
    position: absolute;
    width:  3.75em;
    height: 5.00em;
}

.front {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.red { color: #ff0000; }

.index {
    font-size: 50%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0.25em;
    top:  0.25em;
}

.ace {
    font-size: 300%;
    position: absolute;
    left: 0.325em;
    top:  0.250em;
}

.face {
    border: 1px solid #000000;
    position: absolute;
    left: 0.50em;
    top:  0.45em;
    width:  2.6em;
    height: 4.0em;
}

.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }

.spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
.spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
.spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
.spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
.spotB5 { position: absolute; left: 1.55em; top: 3.5em; }

.spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
.spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
.spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
.spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
.spotC5 { position: absolute; left: 2.50em; top: 3.5em; }

.title {
    font-size: 1.5em;
    color: black;
    color: white;
    text-align: center;
}

button.ui-btn {
  width: 32%;
  display: inline-block;
}
